.App{
  justify-content: center;
  display: flex;
  width:100%;
}
.ETableCellText{
  background-color: rgb(231, 178, 108);
  color: whitesmoke !important;
  font-size: 18px !important;
}
.ETableCellVal{
  text-align: right !important;
  font-size: 18px !important;
}
.button{
  background-color: rgb(91, 91, 205);
  color: rgb(243, 224, 210);
  font-size: 18px !important;
  border-radius: 3px;
  border: 2px rgb(206, 169, 142) solid;
  display: flex;
  justify-content: center;
  text-align: center;

}
.CalApp{
  width: 60%;

  border: 3px solid  rgb(225, 201, 201);
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  background-color: rgb(243, 236, 170);
  border-radius: 3px;
}
.CalHeading{
  text-align: center;
  color: firebrick;
  font-size:x-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
